*{
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
   
}
.container {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
   
}
.color{
    color: orangered;
    font-size: 2.2rem;
    margin:80px;
    
    
}
.color:hover{
    color: orange;
}

h1 {
    text-align: center;
    color: orangered;
    font-size: 8.2rem;
    margin-top: 100px;
    margin-bottom: 100px;

}
.btn1{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    color: orangered;
    background-color: yellowgreen;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;


}
.btn2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    color: orangered;
    background-color: yellowgreen;
    font-size: 1.8rem;
    font-weight: 900;
    margin-left: 300px;
    text-transform: uppercase;
    white-space: nowrap;
    
  

}
.btn1:hover{
    color: orangered;
    background-color: blue;
}
.btn2:hover{
    color: orangered;
    background-color: blue;
}

@media (max-width: 704px) {
    .btn2{
        margin-left:150px;
        
    }
}
@media (max-width: 600px) {
    .btn2{
        margin-left: 100px;
        margin: auto;
        
    }
}