
*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px; 
    background-size: cover;
    height: 100vh;
}

/* snake.html */
.color{
    color: orangered;
    font-size: 2.2rem;
    margin:50px;
    
}

h1 {
    text-align: center;
    color: orangered;
    font-size: 5.2rem;
    margin-bottom: 10px;
}
h3 {
    text-align: center;
    color: orange;
    position:absolute;
    right: 10%;;
    bottom:8%;
    left:70%;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
h2{
    color: aliceblue;
    margin-right: 10px;
}
 p i {
    text-align: center;
    color: orange;
    position:absolute;
    right: 70%;;
    bottom:7%;
    left:10%;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    
    
}
.container {
    height: auto;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 75%;

}
.content{
    width: 500px;
    height: 500px;
    display:flex;
    justify-content: space-between;
    align-self: center;
}


.grid{
    height: 600px;
    width: 400px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(22, 1fr);
    background : linear-gradient(orange,green);
}
.grid div{
    height: 20px;
    width: 20px;
}
.secondary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}
div.secondary{
    align-items: center;
    margin-bottom: 20px;
}
.score {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 0;
    border-radius: 2ch;

}
div.score{
    margin-bottom: 10px;
}
.score h2{
    color: orangered;
    font-size: 36px;
}
.score .scoreDisplay{
    color: orange;
    font-size: 30px;
    margin-right: 30px;
    padding-top: 5px;
    padding-right: 10px;
}
div.button{
    margin-top: 50px;
 
}

.up {
    width: 120px;
    background: yellowgreen;
    padding: 10px;
    border-radius: 2ch;
    margin-left: 60px;
    cursor: pointer;
}
.left{
    width: 120px;
    background: yellowgreen;
    padding: 10px;
    border-radius: 2ch;
    cursor: pointer;
}
.right{
    width: 120px;
    background: yellowgreen;
    padding: 10px;
    border-radius: 2ch;
    cursor: pointer;
}
.bottom{
    width: 120px;
    background: yellowgreen;
    padding: 10px;
    border-radius: 2ch;
    margin-left: 60px;
    cursor: pointer;
    
}
.playAgain{
    margin-top: 15px;
    background: red;
    padding: 10px;
    border-radius: 2ch;
    margin-bottom: 10px;
}
.playAgain:hover{
    background: yellowgreen;
}
.up:hover{
    background: red;
}
.right:hover{
    background: red;
}
.left:hover{
    background: red;
}
.bottom:hover{
    background: red;
}

/* Creating Sanke CSS */

.snake {
    background-color: black;
    border: 1px solid orange;
    border-radius: 100%;
}


.apple {
    background:red;
    border-radius: 100%;

}
@media (max-width: 792px) {
    p i{
        display: none;
    }
    h3 i{
        display: none;
    }
}