
*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px; 
    background-size: cover;
    height: 100vh;
}
#classic{
    height :100vh;
    background-color: black;
    background-image: url(images/snakebody.png);
    

}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background : linear-gradient(orange,green);
}
nav .logo {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: black;
    text-decoration: none;
}
nav li a:hover{
    color:orange;
    transition: all 0.4s ease 0s;
}
nav .logo:hover{
    color:orange;
    transition: all 0.4s ease 0s;
}
main{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main p{
    width: 700px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    background-color:orange;
    border-radius: 20px;
}
main button{
    width: 150px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 5px;
    margin-top: 30px;
    font-size: 30px;
    color:black;
    cursor: pointer;
    display: inline-block;
    background : linear-gradient(orange,green);
}
main button:hover{
color: orange;
transform: translateY(5px);
transition: 0.2s;
}
.content-items img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-top: 80px;

}


/* snake.html */

h1 {
    text-align: center;
    color: orangered;
    font-size: 5.2rem;
    margin-bottom: 10px;
}
h3 {
    text-align: center;
    color: orange;
    position:absolute;
    right: 10%;;
    bottom:8%;
    left:70%;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
h2{
    color: aliceblue;
    margin-right: 10px;
}
 p i {
    text-align: center;
    color: orange;
    position:absolute;
    right: 70%;;
    bottom:7%;
    left:10%;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    
    
}
.container {
    height: auto;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 75%;

}
.content{
    width: 500px;
    height: 500px;
    display:flex;
    justify-content: space-between;
    align-self: center;
}


.grid{
    height: 600px;
    width: 400px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(22, 1fr);
    background : linear-gradient(orange,green);
}
.grid div{
    height: 20px;
    width: 20px;
}
.secondary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}
div.secondary{
    align-items: center;
    margin-bottom: 20px;
}
.score {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 0;
    border-radius: 2ch;

}
div.score{
    margin-bottom: 10px;
}
.score h2{
    color: orangered;
    font-size: 36px;
}
.score .scoreDisplay{
    color: orange;
    font-size: 30px;
    margin-right: 30px;
    padding-top: 5px;
    padding-right: 10px;
}
div.button{
    margin-top: 50px;
 
}

.up {
    width: 120px;
    background: yellowgreen;
    padding: 10px;
    border-radius: 2ch;
    margin-left: 60px;
    cursor: pointer;
}
.left{
    width: 120px;
    background: yellowgreen;
    padding: 10px;
    border-radius: 2ch;
    cursor: pointer;
}
.right{
    width: 120px;
    background: yellowgreen;
    padding: 10px;
    border-radius: 2ch;
    cursor: pointer;
}
.bottom{
    width: 120px;
    background: yellowgreen;
    padding: 10px;
    border-radius: 2ch;
    margin-left: 60px;
    cursor: pointer;
    
}
.playAgain{
    margin-top: 15px;
    background: red;
    padding: 10px;
    border-radius: 2ch;
    margin-bottom: 10px;
}
.playAgain:hover{
    background: yellowgreen;
}
.up:hover{
    background: red;
}
.right:hover{
    background: red;
}
.left:hover{
    background: red;
}
.bottom:hover{
    background: red;
}

/* Creating Sanke CSS */

.snake {
    background-color: black;
    border: 1px solid orange;
    border-radius: 100%;
}


.apple {
    background:red;
    border-radius: 100%;

}

@media (max-width: 780px) {
    p i, h3 {
      font-size: 0.2em;
      color: transparent;
    }
  }
