


body {
    background-color: grey;
    font-family: Ubuntu;
}

canvas{
    background-color: #000000;
    border: 1px #cccccc solid;
}

.container{
    margin:30px auto 0 auto;
    width:600px;
    overflow: auto;
    position:relative;
}
#score,#high_score {
    width:25%;
    height: 50px;
    padding-top: 20px;
    float:left;
    margin-right:5px;
    overflow:auto;
    background:#000000;
    text-align :center;
}